@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background: #EEEEEE;
}
.bg-image {
  width: 100%;
  height: 56px;
  position: absolute;
  z-index: -1;
  background: url("images/header\ pattern\ svg.svg");
}
.navbar {
  background-color: rgba(12, 27, 41, 0.87);
  padding: 0 2em;
  z-index: 3;
  /* border-bottom: 3px solid #3ac7ec; */
  display: flex;
  height: 56px;
  align-items: center;
}
.navbar img {
  margin-top: 10px;
  margin-bottom: 3px;
}
.footer {
  margin-bottom: 0;

  margin-top: auto;
  /* background-color: #E0E1E1; */
  /* padding: 10px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: #1f7a54;
  font-size: 14px;
  font-weight: 500;
}

.footer-links span {
  color: #0000001f;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

.footer-info img {
  height: 24px;
  width: 90px;
}

.footer-info span,
.footer-info b {
  margin: 0;
  padding: 0;
  display: inline;
}

.container {
  flex: 1;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer .footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adjust spacing as needed */
  height: 40px;
  background-color: #e0e1e1;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.footer .footer-info span,
.footer .footer-info b {
  margin: 0;
  padding: 0;
  display: inline;
}
.base1,
.base2,
.base3 {
  height: 24px;
  width: 24px;
cursor: pointer;
  background-size: cover;
  background-position: right;
  position: relative;
}
.base1 {
  background-image: url("images/alerts.svg");
}
.base2 {
  background-image: url("images/announcements.svg");
}
.base3 {
  background-image: url("images/account_circle.svg");
  height: 32px;
  width: 32px;
}
.base3 .alert {
  background-color: white;
  top: -2%;
  right: 0;
  left: 60%;

  bottom: 80%;
}
.base3 .noti-count {
  font-size: 8px;
  color: black;
}
.noti-count {
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.alert {
  background-color: #2a7ff3;
  position: absolute;
  top: -2%;
  right: 0;
  left: 70%;
  bottom: 80%;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icons {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.navbar-links{
    margin-left: auto;
    width: 50%;
    align-items: center;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #3FD28B;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    height:53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter{
    display: flex;
    width: 100%;
    height: 45px;
    margin-top: 20px;
    border-bottom: 2px solid #0000001a;
    justify-content: space-between;
    /* align-items: center; */
}
.filter div{
    display: flex;
    width: 20%;
align-items: start;
    justify-content: space-between;

}
.filter span{
    align-items: center;
    display: flex;
    font-size: 12px;
}
.filter label{
    width: 100%;
    font-size: 12px;
}
.filter select{
 width: 70%;
     outline: none;
  font-size: 16px;
  border: none;
  border-bottom: #0000002c 1px solid;

  padding-left: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("images/arrow-down.svg") no-repeat right 10px center;
  background-size: 20px;
}
.filter img{
    margin-top: 5px;
}
.nav-icons{
    height: 30px;
    display: flex;
    align-items: center;
}
.navbar-links a:hover, .navbar-links .active{
    color: white;
    border-bottom: 3.5px white solid;
}
.navbar-links button{
    display: none;
}
.container{
    padding: 20px;
}
.headtab{
    height: 64px;
    background-color: #8DDC97;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.headtab-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headtab-content a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    height: 60px;
    width: 100%;
    color: black;
  
   
    
    font-weight: 500;
}
.headtab .active{
      border-bottom: 4px solid black;
}
.headtab-content .numcourses{
    font-size: 24px;
    margin-right: 5px;
    font-weight: bold;
    margin-left: 10px;
}
@media (min-width: 576px) and (max-width: 909px) {
    .navbar-container{
        width: 100%;
    }
    .filter div{
        width: 30%;
    }
    .navbar-links a{
        display: none;
    }
    .navbar-links .nav-icons{
        width: 50%;
        margin-left: auto;
    }
    .navbar-links button{
    
        display: flex;
        align-items: center;
        background: none;
        outline: none;
        border: none;
    }
    .filter select{
        width: 100%;
    }
    .navbar-links img{
        width: 30px;
        height: 30px;
    }
     .card-container {
  
        grid-template-columns: 1fr 1fr;
    
     }
     .card{
        width: 476px;
     }
       
}


/* card */
/* Default: small screens (<768px) */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(476px, 467px)); /* Flexible cards */
    gap: 24px;
    margin-top: 20px;
    justify-content: center; /* Center the cards */
    padding: 0 10px;
 
}

#not-active{
    display: none;
}
/* @media (min-width: 768px) and (max-width: 909px) {
   
} */
@media (min-width: 910px) and (max-width: 1025px) {
     .card-container {
        grid-template-columns: 1fr 1fr;
        /* padding-left: 100px;
        padding-right: 100px; */
        justify-content: center;
    }
    .navbar-container{
        width: 100%;
    }
    .navbar-links {
      width: 60%;
    }
    .navbar-links a{
      width: 40%;
    }
    .navbar-links .nav-icons{
        width: 50%;
        margin-left: auto;
    }
    
}
@media (min-width: 1026px) and (max-width: 1599px){
.card-container {
        grid-template-columns: repeat(2, 1fr);
        /* padding-left: 200px;
        padding-right: 200px; */
        justify-content: normal;
    }
      .navbar-container{
        width: 100%;
    }
    .navbar-links {
      width: 60%;
    }
    .navbar-links a{
      width: 40%;
    }
    .navbar-links .nav-icons{
        width: 50%;
        margin-left: auto;
    }
}
@media (min-width: 1600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 500px;
        padding-right: 500px;
        justify-content: normal;
    }
}


.card{
    /* background-color: rgb(83, 5, 5); */
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 476px;
   position: relative;
    height: 246px;
    margin: 0;
    padding: 0;
    /* justify-content: center; */
}
.card-content{
    /* background-color: #2a7ff3; */
    display: flex;
    
    margin-top: 25px;
    padding-left: 24px;
    padding-right: 16px;
    justify-content: space-between;
  /* background-color: #2a7ff3; */
}
.card .card-icons{
    border-top: 1px solid rgba(128, 128, 128, 0.185);
    height: 40px;
   margin-left: 24px;
   margin-right: 24px;
   margin-bottom: 9px;
   margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.card-text .card-heading{
    display: flex;
    /* background-color: #1f7a54; */
    margin: 0;
    width: 100%;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 40px;
    color: black;

    
}
.card-text{
    width: 70%;
    margin-left: 16px;
    /* background-color: #8DDC97; */
    /* margin-bottom:40px; */
    margin-top: 0;
    font-size: 12px;display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    color: #666666;

}
.card-expired{
    position: absolute;
    top:0%;
    left:0%;
    height: 18px;
    width: 52px;
    text-align: center;
    color: red;
    font-size: 10px;
    background-color: #FFE4E6;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content:center ;
    margin: 0;
}
.card-image img{
    width: 132px;
    height: 157px;
}
.card-heading div:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
    
    white-space: nowrap;       /* Prevent line breaks */
    overflow: hidden;          /* Hide overflowing text */
    text-overflow: ellipsis;   /* Show "..." when text overflows */
}

.card-text .topic-details{
    display: flex;
}
.card-text .details{
    display: flex;
    width: 90%;
    font-weight: 500;
    justify-content: space-between;
}
.card-text .details .students{
    display: flex;
    width: 30%;
    text-transform: capitalize;
    justify-content: space-between;

}
.card-text .details span{
    color: #0000001a;
}
.card-text .details .dates{
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.card-text .subject-details{
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    width: 40%;
}
.card-text .subject-details span:nth-child(2){
    color:#0000001a;
}
.card-text .addgrade{
    color: #1F7A54;
}
.card-text .topic-details{
    display: flex;
    justify-content: space-between;
    width: 60%;
       font-size: 12px;
    font-weight: bold;
}
.card-text .topic-details div {
    color: black;
}
.card-text .topic-details div span{
    margin-left: 3px;
    font-size: 12px;
    font-weight: 500;
    color:#666666;
}
#class-select{
    width: 90%;
     outline: none;
  font-size: 16px;
  border: none;
  border-bottom: #0000002c 1px solid;
  margin: 0;
    margin-top: 20px;
  
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("images/arrow-down.svg") no-repeat right 10px center;
  background-size: 20px;
}

