@import "./variables";

.bg-image {
  width: 100%;
  height: 56px;
  position: absolute;
  z-index: -1;
  background: url("../images/header\ pattern\ svg.svg ");
}
// .navbar {
//   background-color: $navBgColor;
//   padding-left: 2em;
//   z-index: 3;
//   border-bottom: 3px solid $info;
//   display: flex;
//   align-items: center;
//   img {
//     margin-top: 10px;
//     margin-bottom: 3px;
//   }
// }
.nav-icons {
  display: flex;
  width: 20%;
    height: 30px;
  justify-content: space-between;
    align-items: center;
}
.navbar-links {
  margin-left: auto;
  width: 50%;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  button {
    display: none;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #3fd28b;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    height: 53px;
    @include divCenter();
    &:hover,
    &.active {
      color: white;
      border-bottom: 3.5px white solid;
    }
  }
}

.alert{

  background-color: #2a7ff3;
  position: absolute;
  top: -2%;
  right: 0;
  left: 70%;
  bottom: 80%;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

img.base1,
img.base2 {
  width: 24px;
  height: 24px;
   cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;

  &.white-icon {
    filter: brightness(0) invert(1);
  }
}

.base3 {
  position: relative; // Needed for absolute children like #user
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/account_circle.svg");

  #user {
    background-color: white;
    position: absolute;
    top: -2px;
    right: -2px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .noti-count {
      color: black;
      font-size: 10px;
      font-weight: 600;
    }
  }
}


.noti-count {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

