$bgColor: #eeeeee;
$navBgColor: rgba(9, 25, 39, 0.877);
$dividerColor: #0000001e;
$footerBg: #e0e1e1;
$badgeBg: #2a7ff3;
$navTextColor: #3fd28b;
$btnColor: #3FD28B;
$tabBg: #8ddc97;
$cardExpiredBg: #ffe4e6;
$errorText: red;
$textTernary: #1f7a54;
$textSecondary: #666666;
$textPrimary:#222222;
$info: #3ac7ec;

$quickSand: '"Quicksand", sans-serif';
@mixin navbar($border :false ){
 background-color: $navBgColor;
  padding: 0 2em;
  z-index: 3;
  @if $border{
border-bottom: 3px solid $info;
  } @else{
    height: 56px;
  }
  
  display: flex;
  align-items: center;
  img {
    margin-top: 10px;
    margin-bottom: 3px;
  }
}
button{
  background: none;
  border: none;
}
@mixin bodyAlign{
    
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: #{$quickSand};

}
@mixin pagewrapper{
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
@mixin divCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hover(){
  &:hover{
      filter: brightness(0) invert(1);
  }
}